* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


/* [[[[[[[[[ Default styles ]]]]]]]]]]]]*/


a:link {
  color: darkblue;

}

a:visited {
  color: darkblue;

}

a:hover {
  transition: .3s ease;
  color: lightblue;
}


a:active {
  color: red;
}


/* [[[[[[[[[ Header and Body ]]]]]]]]]]]]*/
.main-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(100,100,100,.5);


}

.main-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.body {
  min-height: 100vh;
  width: 100%;
  /*padding: 20px;*/
  padding-top: 50px;
  /*background: 3#0638E;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.main-header nav {
  margin: auto;
  width: 90%;
}*/

li {
  list-style-type: none;
}

/* [[[[[[[[[ Nav Bar ]]]]]]]]]]]]*/

ul li {
  display: inline;
  padding-right: 5px;

}

/* [[[[[[[[[ Container ]]]]]]]]]]]]*/

#container {
  /*position: relative;*/
  width: 50%
  background-color: lightgray;
  height: 1000px;
  padding: 20px 20px;
}

